<header class="bg-dark text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 routerLink="/" style="cursor: pointer;" class="m-0">Securemerce</h1>
      <div class="d-flex align-items-center">
        <nav>
          <!-- <a routerLink="/" class="text-white mx-3">Home</a> -->
          <button routerLink="/cart" style="font-size: larger;" class="btn btn-link text-white mx-5">Cart</button>
        </nav>
        <form class="d-flex me-3">
          <input type="text" class="form-control" placeholder="Search for products..." aria-label="Search">
          <button type="submit" class="btn btn-primary ms-2">
            <mat-icon>search</mat-icon>
          </button>
        </form>
       
      </div>
    </div>
  </div>
</header>

<!-- Categories Section -->
<section class="categories-section bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 mb-4">
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="icon-large me-2">star</mat-icon>
          <h4 class="m-0">5-Star Rated</h4>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="icon-large me-2">local_offer</mat-icon>
          <h4 class="m-0">Special Offers</h4>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="icon-large me-2">new_releases</mat-icon>
          <h4 class="m-0">New Arrivals</h4>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="icon-large me-2">category</mat-icon>
          <h4 class="m-0">Categories</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>